{% extends "base.html" %}
{% set active_page = "home" %}

{% block main %}

    <!-- Slider 
        ================================================== 
    -->
    
    <div id="homeSlider" class="royalSlider rsDefaultInv">
        {% for recipie in recipie_list[:3] %}
            {% set randomImgNumber = ['1', '2', '3', '4', '5'] | random %}
            <!-- Slide #1 -->
            <div class="rsContent">
                <a class="rsImg" href="{{ url_for('static', filename='images/recipeThumb-0'+randomImgNumber+'b.jpg') }}"></a>
                <i class="rsTmb">{{recipie.title}}</i>
            
                <!-- Slide Caption -->
                <div class="SlideTitleContainer rsABlock">
                    <div class="CaptionAlignment">
                        <div class="rsSlideTitle tags">
                            <ul>
                                <li>{{recipie.category}}</li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
            
                        <h2 class="rsSlideTitle title"><a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}">{{recipie.title}}</a></h2>
            
                        <div class="rsSlideTitle details">
                            <ul>
                                <li><i class="fa fa-user"></i> by <a href="#">{{recipie.created_by}}</a></li>
                            </ul>
                        </div>
            
                        <a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}" class="rsSlideTitle button">View Recipe</a>
                    </div>
                </div>
            </div>
        {% else %}
            No recipies added for slider
        {% endfor %}
    </div>
    
    
    
    <!-- Content 
        ================================================== 
    -->
    <div class="container">
    
        <!-- Masonry -->
        <div class="twelve columns ">
            <!-- Headline -->
            <h3 class="headline">Latest Recipes</h3>
            <span class="line rb margin-bottom-35"></span>
            <div class="clearfix"></div>
    
            <!-- Isotope -->
            <div class="list-style">
                {% for recipie in recipie_list %}
                    <!-- Recipe #1 -->
                    <div class="four recipe-box columns">
                        <!-- Thumbnail -->
                        {% set randomImgNumber = ['1', '2', '3', '4', '5'] | random %}
                        <div class="thumbnail-holder">
                            <a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}">
                                <img src="{{ url_for('static', filename='images/recipeThumb-0'+randomImgNumber+'b.jpg') }}" alt="" style="width: 100%; height:max-content; overflow: hidden;"/>
                                <div class="hover-cover"></div>
                                <div class="hover-icon">View Recipe</div>
                            </a>
                        </div>

                        <!-- Content -->
                        <div class="recipe-box-content">
                            <h3><a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}">{{recipie.title}}</a></h3>

                            <p>{{recipie.description}}</p>

                            <div class="meta-alignment">
                                <div class="recipe-meta"><i class="fa fa-user"></i> by <a href="#">{{recipie.created_by}}</a></div>
                                <div class="recipe-meta"><i class="fa fa-clipboard-list"></i> {{recipie.instructions_count}} steps</div>
                                <div class="recipe-meta"><i class="fa fa-check-circle"></i> {{recipie.ingredients_count}} items</div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% else %}
                    No recipies found
                {% endfor %}
            </div>
    
            <div class="clearfix"></div>
    
            <!-- Pagination -->
            <div class="pagination-container masonry">
                <nav class="pagination">
                    <ul>
                        {% for page_num in pagination.iter_pages() %}
                            {% if page_num %}
                                {% if page_num != pagination.page %}
                                    <li><a href="/?page={{ page_num }}">{{ page_num }}</a></li>
                                {% else %}
                                    <li><a class="current-page ">{{ page_num }}</a></li>
                                    {% endif %}
                                {% else %}
                                <li class="disabled"><span class="page-link">...</span></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
    
                <nav class="pagination-next-prev">
                    <ul>
                        <li>
                            {% if pagination.has_prev %}
                                <a href="/?page={{ pagination.prev_num }}" class="prev"></a>
                            {% else %}
                                <a class="prev disabled" aria-disabled="true"></a>
                            {% endif %}
                        </li>
                        <li>
                            {% if pagination.has_next %}
                                <a href="/?page={{ pagination.next_num }}" class="next"></a>
                            {% else %}
                                <a class="next disabled" aria-disabled="true"></a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    
    
        <!-- Sidebar 
                    ================================================== 
                -->
        <div class="four columns">
    
            <!-- Search Form -->
            <div class="widget search-form">
                <nav class="search">
                    <form action="#" method="get">
                        <button><i class="fa fa-search"></i></button>
                        <input class="search-field" type="text" placeholder="Search for recipes" value="" />
                    </form>
                </nav>
                <div class="clearfix"></div>
            </div>
    
    
            <!-- Categories -->
            <div class="widget">
                <h4 class="headline">Categories</h4>
                <span class="line margin-bottom-20"></span>
                <div class="clearfix"></div>
    
                <ul class="categories">
                    {% for category in category_list %}
                        <li><a href="#">{{category.name}} <span>({{category.count}})</span></a></li>
                    {% else %}
                        No categories found
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Container / End -->
    
    <div class="margin-top-5"></div>
{% endblock main %}

{% block more_scripts %}
<style>
    a.prev.disabled, a.next.disabled{
        color: #999;
        pointer-events: none;
    }
</style>
{% endblock more_scripts %}
