{% extends "base.html" %}

{% block main %}
<section id="titlebar" class="browse-all">
    <!-- Container -->
    <div class="container">
        <div class="eight columns">
            <h2>Browse Recipes</h2>
        </div>
    </div>
    <!-- Container / End -->
</section>

<div class="advanced-search-container">
    <div class="container">
        <div class="sixteen columns">
            <div id="advanced-search">
                <form method="GET">
                    <!-- Choose Category -->
                    <div class="select">
                        <label>Choose category</label>
                        <select data-placeholder="Choose Category" class="chosen-select-no-single" name="category">
                            <option selected value>ALL</option>
                            {% for category in all_categories %}
                                {% if category == requested_filters.category %}
                                    <option value="{{category}}" selected>{{category}}</option>
                                {% else %}
                                    <option value="{{category}}">{{category}}</option>
                                {% endif %}
                            {% else %}
                                <option value="">All</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Choose ingredients -->
                    <div class="select included-ingredients">
                        <label>Type in one or more comma seperated ingredients</label>
                        <input class="search-field" type="text" placeholder="Enter key ingredients" value="{{requested_filters.ingredients}}" style="width: 96%" name="ingredients" />
                    </div>

                    <!-- Choose -->
                    <div class="select">
                        <label>Select by chef</label>
                        <input class="search-field" type="text" placeholder="Enter chef name" value="{{requested_filters.created_by}}" style="width: 90%" name="created_by" />
                    </div>

                    <div class="clearfix"></div>

                    <!-- Search Input -->
                    <nav class="search-by-keyword">
                            <button><span>Search for Recipes</span></button>
                            <input class="search-field" type="text" placeholder="Search by keyword" value="{{requested_filters.title}}" name="title"/>
                    </nav>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="margin-top-35"></div>
</div>
<!-- Container -->
<div class="container">

    <!-- Headline -->
    <div class="sixteen columns">
        <h3 class="headline">All Recipes</h3>
        <span class="line margin-bottom-35"></span>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>


    <!-- Isotope -->
    <div class="isotope">
        {% for recipie in recipies %}
            {% set randomImgNumber = ['1', '2', '3', '4', '5'] | random %}

            <!-- Recipe #1 -->
            <div class="four isotope-box columns">
            
                <!-- Thumbnail -->
                <div class="thumbnail-holder">
                    <a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}">
                        <img src="{{ url_for('static', filename='images/recipeThumb-0'+randomImgNumber+'b.jpg') }}" alt="" />
                        <div class="hover-cover"></div>
                        <div class="hover-icon">View Recipe</div>
                    </a>
                </div>
            
                <!-- Content -->
                <div class="recipe-box-content">
                    <h3><a href="{{ url_for('recipie.view_recipie', id=recipie.id) }}">{{recipie.title}}</a></h3>
                    <div class="recipe-meta"><i class="fa fa-check-circle"></i> {{recipie.ingredients_count}}</div>
                    <div class="recipe-meta"><i class="fa fa-clipboard-list"></i> {{recipie.instructions_count}}</div>
                    <div class="recipe-meta"><i class="fa fa-bookmark"></i> {{recipie.category}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% else %}
        
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="pagination-container masonry">
        <nav class="pagination">
            <ul>
                {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                {% if page_num != pagination.page %}
                <li><a href="{{url_for('home.browse_recipies')}}?{{current_query}}&page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                <li><a class="current-page ">{{ page_num }}</a></li>
                {% endif %}
                {% else %}
                <li class="disabled"><span class="page-link">...</span></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    
        <nav class="pagination-next-prev">
            <ul>
                <li>
                    {% if pagination.has_prev %}
                    <a href="{{url_for('home.browse_recipies')}}?{{current_query}}&page={{ pagination.prev_num }}" class="prev"></a>
                    {% else %}
                    <a class="prev disabled" aria-disabled="true"></a>
                    {% endif %}
                </li>
                <li>
                    {% if pagination.has_next %}
                    <a href="{{url_for('home.browse_recipies')}}?{{current_query}}&page={{ pagination.next_num }}" class="next"></a>
                    {% else %}
                    <a class="next disabled" aria-disabled="true"></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock main %}
