{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        {% include "errors.html" %}
    </div>
    <div class="row justify-content-center align-items-center g-2 mt-5">
        <div class="sixteen columns">
            <div class="submit-recipie-form">
                <h1>Edit Profile</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.fullname.label }}
                        {{ form.fullname(size=32) }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-top-35"></div>
                    <div class="form-group">
                        <label class="form-control text-danger">To confirm the above changes to the profile, please re-enter your current password.</label>
                        {# {{ form.password.label }} #}
                        {{ form.password(size=32) }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-top-15"></div>
                    <div class="form-group">
                        <input type="submit" value="Register">
                    </div>
                </form>
                <div class="margin-bottom-35"></div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
