{% extends "base.html" %}

{% block main %}
    <!-- Titlebar
    ================================================== -->
    <section id="titlebar">
        <!-- Container -->
        <div class="container">
    
            <div class="eight columns">
                <h2>Profile</h2>
            </div>
    
            <div class="eight columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="#">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </nav>
            </div>
    
        </div>
        <!-- Container / End -->
    </section>

    <div class="container">
        <h1>{{user.fullname}}</h1>
        <div class="sixteen columns">
            <h2 class="headline">About Me</h2> <span class="line margin-bottom-3-"></span><div class="clearfix"></div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dicta pariatur earum dolore perspiciatis alias ut, quod architecto provident in natus nulla esse quia corrupti. Soluta doloribus distinctio molestiae similique. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum fugiat veniam ipsam ea magnam provident voluptatem quidem quos culpa, optio, aut laborum, natus odio cumque ullam. Nihil natus vitae officia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ipsam laborum totam qui adipisci veritatis non ratione quam, temporibus dicta voluptatem ab magnam quisquam error rerum ullam blanditiis libero inventore.
            <div class="clearfix"></div>
            <div class="margin-bottom-30"></div>
        </div>

        <div class="sixteen columns">
            <h2 class="headline">My Recipies ({{recipies|length}})</h2> <span class="line margin-bottom-3-"></span><div class="clearfix"></div>
            <div class="accordion">
                {% for recipie in recipies %}
                    <h3><span class="ui-accordion-header-icon ui-icon ui-accordion-icon"></span>{{recipie}}</h3>
                    <div>
                        <p>{{recipie.description}}</p>
                        <p>
                            <a href="{{url_for('recipie.view_recipie', id=recipie.id)}}"><i class="fas fa-eye fa-xs fa-fw"></i> View</a> | 
                            <a href="{{url_for('recipie.edit_recipie', id=recipie.id)}}"> <i class="fas fa-pen fa-xs fa-fw"></i> Edit</a> | 
                            <a href="{{url_for('recipie.delete_recipie', id=recipie.id)}}"> <i class="fas fa-trash fa-xs fa-fw"></i> Delete</a>
                        </p>
                    </div>
                {% else %}
                    You have no recipies. Add New.
                {% endfor %}
            </div>


        </div>
    </div>

    <div class="margin-bottom-40"></div>
{% endblock main %}
