{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        {% include "errors.html" %}
    </div>
    <div class="row justify-content-center align-items-center g-2 mt-5">
        <div class="sixteen columns">
            <div class="submit-recipie-form">
                <h1>Register</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.fullname.label }}
                        {{ form.fullname(size=32, id="fullname", class="form-control") }}
                        <!-- Displaying validation error message -->
                        {% for error in form.fullname.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(size=32, id="username", class="form-control") }}
                        <!-- Displaying validation error message -->
                        {% for error in form.username.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        {{ form.password1.label }}
                        {{ form.password1(size=32, id="password1", class="form-control") }}
                        <!-- Displaying validation error message -->
                        {% for error in form.password1.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        {{ form.password2.label }}
                        {{ form.password2(size=32, id="password2", class="form-control") }}
                        <!-- Displaying validation error message -->
                        {% for error in form.password2.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="clearfix"></div>

                    <div class="margin-top-15"></div>
                    <div class="form-group">
                        <input class="form-submit btn btn-success btn-lg" type="submit" value="Register">
                    </div>
                    <div class="clearfix"></div>
                    <div class="margin-bottom-35"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
