{% extends "base.html" %}

{% block main %}
<section id="titlebar">
    <div class="container">

        <div class="eight columns">
            <h2>Delete Recipe</h2>
        </div>
        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{{url_for('home.home_page')}}">Home</a></li>
                    <li><a href="{{url_for('home.browse_recipies')}}">Recipes</a></li>
                    <li>Delete Recipe</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<div class="container">
    <div class="sixteen columns">
        <h1 class="text-danger">Delete Recipie</h1>

        <div class="margin-top-25"></div>
        
        <p>Do you really want to delete <strong>{{recipie}}</strong> recipie? This is a permanent action, it cannot be undone.</p>
        
        <div class="margin-top-25"></div>
        
        <form method="POST">
            <input type="submit" class="btn btn-danger" value="Delete"> &nbsp; &nbsp;
            <a href="{{url_for('recipie.view_recipie', id=recipie.id)}}" role="button">Cancel</a>
        </form>
    </div>
</div>

<div class="margin-top-50"></div>

{% endblock main %}
