{% extends "base.html" %}

{% block main %}
<section id="titlebar">
    <div class="container">

        <div class="eight columns">
            <h2>Edit Recipe</h2>
        </div>
        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{{url_for('home.home_page')}}">Home</a></li>
                    <li><a href="{{url_for('home.browse_recipies')}}">Recipes</a></li>
                    <li>Edit Recipe</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

{% include "errors.html" %}

<div class="container">
    <div class="sixteen columns">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="submit-recipe-form">
                <h4>Recipe Title</h4>
                <nav class="title">
                    {{ form.title(size=32, class="search-field") }}
                </nav>

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <h4>Choose Category</h4>
                {{ form.category(size=32, class="search-field", value="Breakfast") }}

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <h4>Short Description</h4>
                {{ form.description(size=32) }}

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <fieldset class="addrecipe-cont" name="ingredients" id="ingredients">
                    <h4>Ingredients:</h4>
                    <table id="ingredients-sort">
                        {% for field in form.ingredients %}
                        <tr class="ingredients-cont ing">
                            <td class="icon" style="text-align: end;">
                                <i class="fas fa-arrows-alt fa-lg fa-fw"></i>
                            </td>
                            <td>
                                {{ field(tabindex="0", placeholder="Name of ingredient") }}
                            </td>
                            <td class="action"><a title="Delete" class="delete" href="#"><i
                                        class="fa fa-trash fa-lg"></i></a> </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <a href="#" class="button color add_ingredient">Add new ingredient</a>
                </fieldset>

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <!-- Ingredients -->
                <h4>Instructions:</h4>
                {{ form.instructions(size=32) }}

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <div><input type="submit" value="Confirm Edit"></div>
                <div class="margin-bottom-10"></div>
                <div><a id="prev-button">Cancel</a></div>
            </div>
        </form>
    </div>
</div>

<div class="margin-top-50"></div>

{% endblock main %}

{% block more_scripts %}
    <script src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/jquery.sceditor.bbcode.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/jquery.sceditor.js') }}" defer></script>
    <script>
        if(document.referrer != '')
            $("#prev-button")[0].setAttribute('href', document.referrer);
        else
            $("#prev-button")[0].hidden = true;
    </script>
{% endblock more_scripts %}
