{% extends "base.html" %}

{% block main %}
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h2>New Recipe</h2>
        </div>

        <div class="eight columns">
            <nav id="breadcrumbs">
                <ul>
                    <li>You are here:</li>
                    <li><a href="{{url_for('home.home_page')}}">Home</a></li>
                    <li>New Recipe</li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Container / End -->
</section>

<div class="container">
    <div class="sixteen columns">
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="submit-recipe-form">
                <h4>Recipe Title</h4>
                <nav class="title">
                    {{ form.title(size=32, class="search-field") }}
                </nav>

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <h4>Choose Category</h4>
                {{ form.category(size=32, class="search-field", value="Dinner") }}

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <h4>Short Description</h4>
                {{ form.description(size=32) }}

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                {# {{form.ingredients.label}}
                {% for field in form.ingredients %}
                    {{ field.label }}: {{ field }}<br>
                {% endfor %}
                 #}
                <!-- Ingredients -->
                <fieldset class="addrecipe-cont" name="ingredients" id="ingredients">
                    <h4>Ingredients:</h4>
                    <table id="ingredients-sort">
                        {% for field in form.ingredients %}
                            <tr class="ingredients-cont ing">
                                <td class="icon" style="text-align: end;">
                                    <i class="fas fa-arrows-alt fa-lg fa-fw"></i>
                                </td>
                                <td>
                                    {{ field(tabindex="0", placeholder="Name of ingredient") }}
                                </td>
                                <td class="action"><a title="Delete" class="delete" href="#"><i class="fa fa-trash fa-lg"></i></a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a href="#" class="button color add_ingredient">Add new ingredient</a>
                </fieldset>

                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <!-- Ingredients -->
                <h4>Instructions:</h4>
                {{ form.instructions(size=32) }}
                    {# 
                        {{ form.hidden_tag() }}
                        <p>{{ form.title.label }}<br></p>
                        <p>{{ form.description.label }}<br>{{ form.description(size=32) }}</p>
                        <p>{{ form.ingredients.label }}<br>{{ form.ingredients(size=32) }}</p>
                        <p>{{ form.instructions.label }}<br>{{ form.instructions(size=32) }}</p>
                        <p>{{ form.category.label }}<br>{{ form.category(size=32) }}</p>
                        <p><input type="submit" value="Create"></p>
                    #}
                <div class="clearfix"></div>
                <div class="margin-top-25"></div>

                <div><input type="submit" value="Create"></div>

            </div>
        </form>
    </div>
</div>

<div class="margin-top-50"></div>

{% endblock main %}

{% block more_scripts %}
    <script src="{{ url_for('static', filename='scripts/jquery-ui.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/jquery.sceditor.bbcode.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/jquery.sceditor.js') }}" defer></script>
{% endblock more_scripts %}
